* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: numito;
    src: url(./font/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: numito-2;
    src: url(./font/Gudea-Regular.ttf);
}

.bg-background {
    background-image: url(./pic/netflix-bg.jpg);
    background-size: cover;
    width: 100%;
    /* height: 170vh; */
    /* background-attachment: scroll; */
}

a {
    text-decoration: none;
}

.background {
    background-color: rgba(0, 0, 0,0.5);
    width: 100%;
    /* height: 170vh; */
}

.background .logo h1 {
    color: #ff0000;
    font-size: 3em;
    font-family: numito;
    padding: 0.6em;
}

.container {
    background-color: rgba(0, 0, 0,0.8);
    width: 40%;
    height: auto;
    padding: 3em 3em;
    margin: 0 auto;
    border-radius: 15px;
}

.container h1 {
    color: #ff0000;
    font-size: 2em;
    font-family: numito;
}

.container [class^="input-"] input{
    width: 99%;
    height: auto;
    padding: 1.5em 0.6em;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 1.4em;
    background-color: #313030;
    outline: none;
    border: none;
}

.container  [class^="input-"] input:last-child {
    background-color: #ff0000;
    color: #fff;
    font-family: numito;
    font-size: 1.2em;
    padding: 0.9em 0.6em;
}

.container [class^="input-"] p {
    color: orange;
    width: 85%;
}


[class^="para-"] {
    padding: 1em 0;
}

.para .para-1 {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.para .para-2 {
    font-family: numito;
    font-size: 1.2em;
}

.para .para-2 a {
    color: #ffffff;
}

.para .para-3 {
    width: 70%;
}

[class^="para-"] p {
    color: rgb(206, 200, 200);
}

.text {
    display: flex;
}


@media screen and (max-width:768px) {
    .container {
        width: 70%;
    }
}

@media screen and (max-width:734px) {
    .background {
        background-color: black;
    }
    .container {
        padding: 13px;
        width: 99%;
    }

    .container [class^="input-"] input {
        width: 100%;
    }

    .para .para-3,
    .para .para-1 {
        width: 100%;
    }

    .container [class^="input-"] p {
        width: 100%;
    }

    [class^="para-"] {
        padding: 10px 0;
    }
}



.footer {
    overflow: hidden;
    background-color: rgba(0, 0, 0,0.8);
    bottom: 0;
    width: 100%;
    margin-top: 12em;
    padding-left: 6em;
    font-size: 1.3em;
    font-family: numito-2;
    color: rgb(206, 200, 200);
}

.foot {
    display: flex;
    flex-wrap: wrap;
    padding: 1em 0;
}

.foot p {
    font-size: 0.9em;
    width: 25%;
    padding: 0.3em;
}

hr {
    display: none;
}

@media screen and (max-width:768px) {
    hr {
        display: block;
    }
    .footer  {
        padding:0 0.5em;
        margin-top: 7em;
    }
    .foot p {
        width: 99%;
    }
}